{% extends 'animal/base.html' %}
{% load static %}

{% block head %}
<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script>
    function load(URL) {
        window.open(URL, "myWin", "left=300,top=300,width=400,height=300");
    }
</script>
<link href="{% static 'face/css/detail.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}
<div class="results">
    <!-- 이미지 결과 -->
    <div id="image">
        <center>
            <img src="{{object.image.url}}" style="width: 30%;">
        <center>
    <!-- </div> -->


        <!-- 그래프 -->
        <div id="container" style="width: 60%; margin-top: 30px;">
            <canvas id="doughnut-chart"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var scores = {{object.scores | safe}};
        var kinds = {{object.kinds | safe}};
        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: scores,
                    backgroundColor: ['#ffc31e','#00fa9a', '#ffb6c1'],
                    label: 'Population'
                }],
                labels: kinds,
                hoverOffset: 4
            },
            options: {
                responsive: true,
                legend:{
                    position:'bottom',
                },
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('doughnut-chart').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>
    <!-- 분석결과 -->
    <div id="result_face">
        <center>
            <h1 class="face">{{object.face.kind}}</h1>
        </center>
    </div>
    <!-- 동물별 특징 -->
    <div id="results_feature" style="width: 40%;">
        <center>
            <p text-align:left>특징</p>
        </center>
        <p>{{object.face.get_markdown_content | safe}}</p>

    </div>
    <!-- 대표 연예인 -->
    <div id="results_artist" style="width: 40%;">
        <center>
            <p>{{object.face.kind}} 연예인</p>
        </center>
        <p>{{object.face.get_markdown_artist | safe}}</p>
    </div>
</div>



<!-- 미리보기 , 공유하기 -->

<section>
    <div class="button">

        <center>
            <a href="#preview" rel="modal:open"><button type="button" name="premodal"
                    style="color: black; background:pink; font-size:1em; border-radius:0.5em; padding:5px 20px;margin-right: 7px; margin-left: 7px;">미리보기</button></a>
            <a href="#modals" rel="modal:open"><button type="button"
                    style="color: black; background:pink; font-size:1em; border-radius:0.5em; padding:5px 20px; margin-right: 7px; margin-left: 7px;">공유하기</button></a>
            <button type="button"
                style="color: black; background:pink; font-size:1em; border-radius:0.5em; padding:5px 20px; margin-right: 7px; margin-left: 7px;"
                onclick="location.href='/face/'">다시하기</button>

        </center>
    </div>

</section>

<!-- Modal HTML embedded directly into document -->
<div id="modals" class="modal">
    <form action="modal/" method="POST">{% csrf_token %}
        <!-- 공유방법 -->
        <section>
            <center>
                <select name="file">
                    <option value="">파일 종류</option>
                    <option value=".png">PNG</option>
                    <option value=".jpg">JPG</option>
                    <option value=".pdf">PDF</option>

                </select>
                <select name="location">
                    <option value="">경로</option>
                    <option value="카카오톡">카카오톡</option>
                    <option value="e-mail">E-mail</option>
                </select><br>
                <input type="text" name='id'>
                <input type="text" name="pk" value="{{facehist.id}}" hidden>

            </center>
        </section>
        <input type="submit" value="공유하기">
        <a href="#" rel="modal:close" style="float: right;"><button>취소</button></a>
    </form>
</div>

<!-- 미리보기 -->

<div id="preview" class="modal">
    <div class="previewHeader">
        <img src="{% static 'animal/img/logo.png' %}">
    </div>
    <hr>
    <!-- 이미지 결과 -->
    <section>
        <center>
            <img class="pre_img" src="{{object.image.url}}">
        <center>
    </section>
    <!-- 그래프 -->
    <center>
    <div id="container" style="width: 100%; margin-top: 30px;">
        <canvas id="doughnut-chart" hidden></canvas>
        <img style="width: 100%;" id="url" />    
    </div>
    </center>
    <script>
        function done(){
            var url=myPie.toBase64Image();
            document.getElementById("url").src=url;
        }
        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: {{object.scores | safe}},
                    backgroundColor: ['#ffc31e', '#00fa9a', '#ffb6c1'],
                    label: 'Population'
                }],
                labels: {{object.kinds | safe}},
                hoverOffset: 4
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },

                animation:{onComplete:done},
            }
        };


        window.onload = function () {
            var ctx = document.getElementById('doughnut-chart').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>

    <!-- 분석결과 -->
    <section>
        <center>
            <p class="pre_face">{{object.face.kind}}</p>
        </center>
    </section>

    <!-- 동물별 특징 -->
    <section>
        <p>특징</p>
        <p class="pre_content">{{object.face.get_markdown_content | safe}}</p>
    </section>
    <!-- 대표 연예인 -->
    <section>
        <p>{{object.face.kind}} 연예인</p>
        <p class="pre_content">{{object.face.get_markdown_artist | safe}}</p>
    </section>
    <a href="#" rel="modal:close" style="float: right;"><button>취소</button></a>
</div>

{% endblock %}
