{% extends 'animal/base.html' %}

{% load static %}

{% block title %}animal-face{% endblock %}

{% block head %}
<style type="text/css">
    .img_wrap {
        width: 300px;
        margin-top: 50px;
    }

    .img_wrap.img {
        max-width: 100%;
    }
    section {
    padding-top: 35px;
    padding-bottom: 35px;
}
</style>

</script>
<script type="text/javascript">
    function previewImage(targetObj, View_area) {
        var preview = document.getElementById(View_area); //div id
        var ua = window.navigator.userAgent;

        //ie일때(IE8 이하에서만 작동)
        if (ua.indexOf("MSIE") > -1) {
            targetObj.select();
            try {
                var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
                var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);


                if (ie_preview_error) {
                    preview.removeChild(ie_preview_error); //error가 있으면 delete
                }

                var img = document.getElementById(View_area); //이미지가 뿌려질 곳

                //이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
                img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + src +
                    "', sizingMethod='scale')";
            } catch (e) {
                if (!document.getElementById("ie_preview_error_" + View_area)) {
                    var info = document.createElement("<p>");
                    info.id = "ie_preview_error_" + View_area;
                    info.innerHTML = e.name;
                    preview.insertBefore(info, null);
                }
            }
            //ie가 아닐때(크롬, 사파리, FF)
        } else {
            var files = targetObj.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
                if (!file.type.match(imageType))
                    continue;
                var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
                if (prevImg) {
                    preview.removeChild(prevImg);
                }
                var img = document.createElement("img");
                img.id = "prev_" + View_area;
                img.classList.add("obj");
                img.file = file;
                img.style.width = '400px';
                img.style.height = '500px';
                preview.appendChild(img);
                if (window.FileReader) { // FireFox, Chrome, Opera 확인.
                    var reader = new FileReader();
                    reader.onloadend = (function (aImg) {
                        return function (e) {
                            aImg.src = e.target.result;
                        };
                    })(img);
                    reader.readAsDataURL(file);
                } else { // safari is not supported FileReader
                    //alert('not supported FileReader');
                    if (!document.getElementById("sfr_preview_error_" +
                            View_area)) {
                        var info = document.createElement("p");
                        info.id = "sfr_preview_error_" + View_area;
                        info.innerHTML = "not supported FileReader";
                        preview.insertBefore(info, null);
                    }
                }
            }
        }
    }

    function test() {

        if (confirm("결과를 확인하겠습니까?") == true) { //확인
            // alert('test');
            form.submit();

        } else { //취소

            return false;

        }

    }
</script>
<style media="screen">
    #browsers2 {
        background-color: white;
        border: 1px solid purple;
        border-radius: 10px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;

        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;


        background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            radial-gradient(#ddd 70%, transparent 72%);
        background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - .5em) .5em;
        background-size:
            5px 5px,
            5px 5px,
            1.5em 1.5em;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block content %}
<form action="" name="form" method="post" enctype="multipart/form-data">{% csrf_token %}
    <!-- 이미지 업로드 미리보기 -->
    <section class='image_upload'>
        <center>
            <div id='View_area'
                style='position:relative; width: 500px; height: 500px; color: black; border: 0px solid black; dispaly: inline; '>
            </div>

            <input type="file" name="image_field" id="image_field" onchange="previewImage(this,'View_area')" accept="image/png, image/jpeg, image/jpg">
        </center>
    </section>

    <!-- 성별, 나이 드롭다운 -->
    <center>
        <section class='box1'>
            <select id="browsers2" name="gender_field" style="margin-right: 15px;">
                <option value="">--성별--</option>
                <option value="남자"> 남자 </option>
                <option value="여자"> 여자 </option>
            </select>

            <select id="browsers2" name="age_field" style="margin-left: 15px;">
                <option value="">--나이--</option>
                <option value="10대"> 10대 </option>
                <option value="20대"> 20대 </option>
                <option value="30대"> 30대 </option>
                <option value="40대"> 40대</option>
            </select>
    </center>
    </section>


    <!-- 버튼 -->
    <center>
        <div class="button">
            <button type="button"
                style="color: black; background:pink; font-size:1em; border-radius:0.5em; padding:5px 20px; margin-bottom: 20px; margin-top: 35px;"
                onclick="test()">확인</button>
</form>
</div>
</center>
</form>
{% endblock %}
