{% extends 'animal/base.html' %}
{% load static %}

{% block head %}
<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script>
    function load(URL) {
        window.open(URL, "myWin", "left=300,top=300,width=400,height=300");
    }
</script>

<style>
    #my_modal {
        display: none;
        width: 300px;
        padding: 20px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
    }

    #my_modal .modal_close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    @font-face {

        src: url("{% static 'face/BMJUA_ttf.ttf' %}");
        /*파일 연결 (..은 현재 위치가 css 폴더이기에 상위로 폴더로 가기 위함)*/

        font-family: "jua";
        /*위에 파일로 된 폰트는 이름을 jua라고 지정*/

    }

    .face {
        /*html 파일의 h1을 꾸며준다.*/

        font-family: "jua";
        font-weight: bolder;


    }

    div.results > div {
        margin: 30px auto 30px auto;
    }

    #results_feature {
        text-align: center;
        font-family: "jua";
        font-weight: bolder;
        font-size: 25px;
    }
</style>
{% endblock %}

{% block content %}
<div class="results">
    <!-- 이미지 결과 -->
    <div id="image">
        <center>
            <img src="{{object.image.url}}">
            <center>
    </div>
    <!-- 분석결과 -->
    <div id="result_face">
        <center>
            <h1 class="face">{{object.face}}</h1>
        </center>
    </div>
    <!-- 동물별 특징 -->
    <div id="results_feature">

        <p>{{object.face.get_markdown_content | safe}}</p>

    </div>
</div>



<!-- 미리보기 , 공유하기 -->

<section>
    <div class="button">

        <center>
            <a href="#preview" rel="modal:open"><button type="button"
                    style="color: black; background:pink; font-size:1em; border-radius:0.5em; padding:5px 20px;margin-right: 7px; margin-left: 7px;">미리보기</button></a>
            <a href="#modals" rel="modal:open"><button type="button"
                    style="color: black; background:pink; font-size:1em; border-radius:0.5em; padding:5px 20px; margin-right: 7px; margin-left: 7px;">공유하기</button></a>
            <button type="button"
                style="color: black; background:pink; font-size:1em; border-radius:0.5em; padding:5px 20px; margin-right: 7px; margin-left: 7px;"
                onclick="location.href='/face/'">다시하기</button>

        </center>
    </div>

</section>

<!-- Modal HTML embedded directly into document -->
<div id="modals" class="modal">
    <form action="modal/" method="POST">{% csrf_token %}
        <!-- 공유방법 -->
        <section>
            <center>
                <select name="file">
                    <option value="">파일 종류</option>
                    <option value=".png">PNG</option>
                    <option value=".jpg">JPG</option>
                    <option value=".pdf">PDF</option>

                </select>
                <select name="location">
                    <option value="">경로</option>
                    <option value="카카오톡">카카오톡</option>
                    <option value="e-mail">E-mail</option>
                </select><br>
                <input type="text" name='id'>
                <input type="text" name="pk" value="{{object.id}}" hidden>

            </center>
        </section>
        <input type="submit" value="공유하기">
        <a href="#" rel="modal:close" style="float: right;"><button>취소</button></a>
    </form>
</div>

<!-- 미리보기 -->
<div id="preview" class="modal">
    <!-- 이미지 결과 -->
    <section>
        <center>
            <img src="{{object.image.url}}">
            <center>
    </section>

    <!-- 분석결과 -->
    <section>
        <center>
            <p>{{object.face}}</p>
        </center>
    </section>

    <!-- 동물별 특징 -->
    <section>
        <center>
            <p>{{object.face.content}}</p>
        </center>
    </section>
    <a href="#" rel="modal:close" style="float: right;"><button>취소</button></a>
</div>

{% endblock %}
