{% extends 'animal/base.html' %}
{% load static %}
{% block intro %}
	<!-- Intro -->
	<section class="intro">

		<center>
			<span style=" font: italic bold 1.5em/1em Georgia, serif ; color: #000080;">
				호랭이가 될 상인가??
				<hr>
			</span>
		</center>
	</section>





	<!-- About -->
	<section class="about" id="about">
		<div class="container about">
			<div class="row">
				<center>
					<p>
						<span style=" font: italic bold 1.5em/1em Georgia, serif ;">
							안녕하세요~!!! <br>
							'animal-face'팀 입니다<br>
							평소 자신의 <span style="color:blue"><strong>동물 상</strong></span>이 궁금하시다면<br>
							밑에 <span style="color:pink"><b>확인 버튼</b></span>를 눌러주새욤~!!!
						</span>
					</p>
				</center>
			</div>
		</div>
	</section>


	<center>
		<div class="button">
			<button type="button"
				style="color: black; background:pink; font-size:1em; border-radius:0.5em; padding:5px 20px;"
				onclick="location.href='/face/'">확인</button>

		</div>
	</center>
{% endblock %}}
{% block content %}
<!-- Gallery -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            {% for animal in object_list %}
            <div class="col-md-6 thumbnail">
                <div class="hovereffect">
                    <div class="col-md-12 photo-{{forloop.counter}}"></div>
                
                    <a href="#mybox" data-toggle="modal" data-slide-to="0">
                        <div class="overlay">
                            <h2>{{animal.kind}}</h2><br>
                            <p>특징</p>
                            <hr>
                            <ul>
                                <li>{{animal.content}}}}</li>
                            </ul>
                            <p>대표연예인</p>
                            <ul>
                                <li>{{animal.artist}}</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-6 thumbnail">
                <div class="hovereffect">
                    <div class="col-md-12 photo-4"></div>
                    <a href="#mybox" data-toggle="modal" data-slide-to="3">
                        <div class="overlay">
                            <h2>준비중</h2>
                            <br>
                            <p>준비중 입니다</p>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>


<!-- End Gallery -->
<div class="container">
    <div class="modal fade and carousel slide">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    <!-- 동물별 특징 사진 -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/animal/static 'animal/img/1.jpg'%]">
                        </div>
                        <div class="item">
                            <img src="/animal/static/animal/img/2.jpg">
                        </div>
                        <div class="item">
                            <img src="/animal/static/animal/img/3.jpg">
                        </div>
                        <div class="item">
                            <img src="/animal/static/animal/img/logo.png">
                        </div>
                    </div><!-- /.carousel-inner -->
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div><!-- /.container -->

{% endblock %}