{% extends 'animal/base.html' %}
{% load static %}
{% block head%}
<style>
    h1, h2 {
      font-family: "jua";
    }
    .overlay > ul{ 
        font-size: 20px;
    }
</style>
{% endblock %}
{% block intro %}
<!-- Intro -->
<section class="intro">
    <center>
        <span style=" color: #000080;font-size: 30px;">관상가 양반 내가 호랭이가 될 상인가??</span><hr>
    </center>
</section>





<!-- About -->
<section class="about" id="about">
    <div class="container about">
        <div class="row">
            <center>
                <p>
                    <span style=" font: italic bold 1.5em/1em Georgia, serif ;">
                        안녕하세요. <span style="color: darkturquoise; font-size: 30px;">'관상가 양반'</span>팀 입니다.<br>
                        자신이 어떤 동물상인지 궁금하시다면<br>
                        지금 확인해 보세요.
                    </span>
                </p>
            </center>
        </div>
    </div>
</section>


<center>
    <div class="button">
        <button type="button"
            style="color: black; background:pink; font-size:1em; border-radius:0.5em; padding:5px 20px;"
            onclick="location.href='/face/'">나의 동물상은?</button>

    </div>
</center>
{% endblock %}
{% block content %}
<!-- Gallery -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            {% for animal in object_list %}
            <div class="col-md-6 thumbnail">
                <div class="hovereffect">
                    <div class="col-md-12 photo-{{forloop.counter}}"></div>

                    <a href="#mybox" data-toggle="modal" data-slide-to="0">
                        <div class="overlay">
                            <h1 style="font-weight: bold;">{{animal.kind}}</h1><br>
                            <hr>
                            <h2 style="font-weight: bold;">특징</h3>
                            <p>{{animal.get_markdown_content | safe}}</p>
                            <h2 style="font-weight: bold;">{{animal.kind}} 연예인</h2>
                            <p>{{animal.get_markdown_artist | safe}}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-6 thumbnail">
                <div class="hovereffect">
                    <div class="col-md-12 photo-4"></div>
                    <a href="#mybox" data-toggle="modal" data-slide-to="3">
                        <div class="overlay">
                            <h1 style="font-weight: bold;">준비중</h1>
                            <br>
                            <hr>
                            <p style="font-size: large;"><b>준비중 입니다</b></p>
                        </div>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>


<!-- End Gallery -->
<div class="container">
    <div class="modal fade and carousel slide">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    <!-- 동물별 특징 사진 -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/animal/static/animal/img/1.jpg">
                        </div>
                        <div class="item">
                            <img src="/animal/static/animal/img/2.jpg">
                        </div>
                        <div class="item">
                            <img src="/animal/static/animal/img/3.jpg">
                        </div>
                        <div class="item">
                            <img src="/animal/static/animal/img/logo.png">
                        </div>
                    </div><!-- /.carousel-inner -->
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div><!-- /.container -->

{% endblock %}